.channel {
    display: flex;
    height: 70px;
    background-color: var(--bg-color-2);
	margin-bottom: 10px;
    border-radius: 6px;
    
    overflow: hidden;
}

.channel .logo {
    background-color: var(--bg-color-2);
}

.channel .info {
    flex: 1;
    padding: 5px 10px;
}

.channel .info h1 {
    font-size: 1rem;
    color: var(--fg-color-1);
    margin-bottom: 5px;
}
.channel .info p {
    font-size: .7rem;
    color: var(--fg-color-2);
}

.channel .controls {
    flex-basis: 150px;
    background-color: var(--bg-color-2);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.channel .controls button {
	width: 65px;
}