.App {
	background-color: var(--bg-color-1);
	color: var(--fg-color-1);

	height: 100vh;
	display: flex;
	flex-direction: column;

	position: relative;
	padding-top: 10vh;
}

.App-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100vw;
	background-color: var(--bg-color-1);
	-webkit-app-region: drag;
}

.App-main {
	flex: 1;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 0;
}