:root {
	--bg-color-1: #dd9866;
	--bg-color-2: #8f384d;
	--bg-color-3: #5c6e91;
	--bg-color-4: #eeeded;

	--fg-color-1: #111111;
	--fg-color-2: #222222;
	--fg-color-3: #333333;

	font-size: calc(16px + 1vmin);
}

body {
	margin: 0;
	/* font-size: calc(10px + 1vmin); */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
